<div class="modal-container" *ngIf="visibleValue">
  <div class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="onModalClosed($event)">
            <span>&times;</span>
          </button>
          <h4 class="modal-title">{{titleValue}}</h4>
        </div>
        <div class="modal-body">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
